 <div class="min-h-screen bg-gray-700">
 <div class="relative text-white text-lg flex justify-center pt-3 pb-5">Speedpay Customer Service</div>
    <div class="flex justify-center text-white text-xl mb-5">Log in here</div>
<div class="py-6 px-6 flex flex-col justify-center sm:py-12 sm:px-12">
      
    <div class="relative py-3 w-11/12 max-w-xl sm:mx-auto">
     
      <div class="relative p-8 bg-white sm:rounded-xl">
        <form class="w-full">
          <div class="mb-5 relative">
            <input type="email" id="email" class="peer pt-8 border border-gray-200 focus:outline-none rounded-md focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 placeholder-transparent" placeholder="email" autocomplete="off" />
            <label for="email" class="peer-placeholder-shown:opacity-100   opacity-75 peer-focus:opacity-75 peer-placeholder-shown:scale-100 scale-75 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 -translate-y-3 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 translate-x-1 peer-focus:translate-x-1 absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">Email address</label>
          </div>
          <div class="mb-5 relative">
            <input type="password" id="password" class="peer pt-8 border border-gray-200 focus:outline-none rounded-md focus:border-gray-500 focus:shadow-sm w-full p-3 h-16 placeholder-transparent" placeholder="password" autocomplete="off" />
            <label for="password" class="peer-placeholder-shown:opacity-100   opacity-75 peer-focus:opacity-75 peer-placeholder-shown:scale-100 scale-75 peer-focus:scale-75 peer-placeholder-shown:translate-y-0 -translate-y-3 peer-focus:-translate-y-3 peer-placeholder-shown:translate-x-0 translate-x-1 peer-focus:translate-x-1 absolute top-0 left-0 px-3 py-5 h-full pointer-events-none transform origin-left transition-all duration-100 ease-in-out">Password</label>
          </div>
          <button class="w-full bg-green-600 text-white p-3 rounded-md" routerLink="/dashboard">Submit</button>
        </form>
      </div>
      <div class="mt-3 px-12 text-white" >
      <label>Don't have an account? <span class="text-blue-100 hover:text-blue-400 hover:cursor-pointer" routerLink="register">Register here</span></label>
      </div>
    </div>
  </div>
</div>