
<div class=" flex justify-between border-b-2 border-indigo-100">
    <div class="relative m-3 flex justify-center menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list  cursor-pointer  text-indigo-700" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <h3 class="font-semibold mt-5 ml-6 text-2xl">Customers</h3>
    </div>
        <div class="relative m-3  p-2 shadow-md">
            <h3 class="font-semibold">Olawoyin David</h3> <hr>
            <h4 class="text-center">ID: 001102</h4>
        </div>
    </div> 
    
      <div class="smenu mt-3 flex items-center">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 mr-2 text-gray-600" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" />
        </svg>
        <input type="text" name="search" placeholder="Search..."
            class="w-1/3 py-2 border-b-2 border-gray-400 outline-none focus:border-indigo-400">
    </div>
        <!-- <ul class="tmenu flex min-w-full">
            <li scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</li>
            <li scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</li>
             <li scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone Number</li>
                <li scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Joined</li>
              
          </ul> -->
          <div class="wrapper">
<div class="tmenu mt-5 flex flex-col">
    <div class="-my-2 sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
        
          <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
              <tr>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Name</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Email</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Phone Number</th>
                <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Date Joined</th>
              </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
              <tr class=" hover:bg-indigo-100 hover:cursor-pointer" routerLink="/customer-detail">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">Ajanlekoko Damian</div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">ajadam@gmail.com</div>
                </td>
                
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">09023123445</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">12/01/2022</td>
              </tr>

              <tr class=" hover:bg-indigo-100 hover:cursor-pointer" routerLink="/customer-detail">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">Badmus Adamson</div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">badadam@gmail.com</div>
                </td>
                
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">09023123445</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">21/01/2022</td>
              </tr>

              <tr class=" hover:bg-indigo-100 hover:cursor-pointer"  routerLink="/customer-detail">
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="flex items-center">
                    <div class="flex-shrink-0 h-10 w-10">
                      <img class="h-10 w-10 rounded-full" src="https://cdn.pixabay.com/photo/2016/08/08/09/17/avatar-1577909_960_720.png" alt="">
                    </div>
                    <div class="ml-4">
                      <div class="text-sm font-medium text-gray-900">Chigozie Cletus</div>
                    </div>
                  </div>
                </td>
                <td class="px-6 py-4 whitespace-nowrap">
                  <div class="text-sm text-gray-900">chigoclet@hotmail.com</div>
                </td>
                
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">09063123495</td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">07/02/2022</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

