
<div class=" flex justify-between border-b-2 border-indigo-100">
    <div class="relative m-3 flex justify-center menu">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-list  cursor-pointer  text-indigo-700" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
          <h3 class="font-semibold mt-5 ml-6 text-2xl">Dashboard</h3>
    </div>
        <div class="relative m-3  p-2 shadow-md">
            <h3 class="font-semibold">Olawoyin David</h3> <hr>
            <h4 class="text-center">ID: 001102</h4>
        </div>
    </div>
<div class="menu mt-14 m-3 flex justify-between">
<div class="w-60 h-60 rounded  border-2 border-blue-100 hover:border-blue-300 shadow-md hover:shadow-lg cursor-pointer">
    <h3 class="font-semibold mt-5 text-lg text-center">Total Complaints</h3>
    <h4 class="font-semibold text-5xl text-blue-600 text-center mt-5">53</h4>
<div class="ml-5 mt-20 text-blue-600">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    <path fill-rule="evenodd" d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z"/>
    <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z"/>
  </svg>
</div>
</div>

<div class="w-60 h-60 rounded  border-2 border-green-100 hover:border-green-300 shadow-md hover:shadow-lg cursor-pointer" routerLink="/archive">
    <h3 class="font-semibold mt-5 text-lg text-center">Resolved Complaints</h3>
    <h4 class="font-semibold text-5xl text-green-600 text-center mt-5">14</h4>
    <div class="ml-5 mt-20 text-green-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-check-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zm8.854-9.646a.5.5 0 0 0-.708-.708L7.5 7.793 6.354 6.646a.5.5 0 1 0-.708.708l1.5 1.5a.5.5 0 0 0 .708 0l3-3z"/>
          </svg>
    </div>
</div>
<div class="w-60 h-60 rounded  border-2 border-yellow-100 hover:border-yellow-300 shadow-md hover:shadow-lg cursor-pointer" routerLink="/all-tickets">
    <h3 class="font-semibold mt-5 text-lg text-center">Unassigned Complaints</h3>
    <h4 class="font-semibold text-5xl text-yellow-600 text-center mt-5">50</h4>
    <div class="ml-5 mt-20 text-yellow-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-door-open-fill" viewBox="0 0 16 16">
            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          </svg>
    </div>
</div>


<div class="w-60 h-60 rounded  border-2 border-red-100 hover:border-red-300 shadow-md hover:shadow-lg cursor-pointer" routerLink="/unassigned">
    <h3 class="font-semibold mt-5 text-lg text-center">Unresolved Complaints</h3>
    <h4 class="font-semibold text-5xl text-red-600 text-center mt-5">36</h4>
    <div class="ml-5 mt-20 text-red-600">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bookmark-dash-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM6 6a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6z"/>
        </svg>
    </div>
</div>
</div>
